/* Add your CSS styling here */
body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
  transition: background-image 0.5s ease-in-out;
}

#map {
  height: 600px;
  width: 100%;
  margin: 20px auto;
}

.weather-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 20px;
}

.weather-header {
  font-size: 24px;
  margin-bottom: 10px;
}

.weather-details {
  font-size: 18px;
  text-align: left;
}

.history-container,
.favorites-container {
  margin-top: 20px;
}

.history-item,
.favorite-item {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.forecast-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
}

.forecast-item {
  margin-bottom: 15px;
  text-align: left;
}

