<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>날씨 정보</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
</head>
<body>
    <div id="map"></div>
    <div class="weather-container" id="weather-container">
        <div class="weather-header" id="weather-header">기상환경</div>
        <div class="weather-details" id="weather-details"></div>
        <img id="weather-img" src="" alt="Weather Image">
    </div>
    <div class="forecast-container" id="forecast-container">
        <h3>미래 날씨 예보</h3>
        <div id="forecast-details"></div>
    </div>
    <div class="history-container">
        <h3>최근 검색 기록</h3>
        <ul id="history-list">
            {% for record in records %}
            <li class="history-item" data-lat="{{ record.lat }}" data-lon="{{ record.lon }}">
                {{ record.city }} - {{ record.date.strftime('%Y년 %m월 %d일 %H시 %M분 %S초') }}
                <button onclick="addToFavorites({{ record.lat }}, {{ record.lon }})">즐겨찾기 추가</button>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="favorites-container">
        <h3>즐겨찾기</h3>
        <ul id="favorites-list">
            {% for favorite in favorites %}
            <li class="favorite-item" data-lat="{{ favorite.lat }}" data-lon="{{ favorite.lon }}">
                {{ favorite.city }}
            </li>
            {% endfor %}
        </ul>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>